#about{

  margin-top: 5rem;
  .neonBox{
    margin: auto;
    margin-top: 0.5rem;
    width: 80%; 
    border: 10px solid orange;
    animation: borderGradient 10s 3s linear infinite;
    .longIntro{
      font-family: var(--paraFont);
      font-size: clamp(1rem, calc(0.2rem + 2vw),2rem);
      width: 80%;
      margin: 2.5rem auto;
    }
  }
  
}
@keyframes borderGradient {
  0%{
    border:10px solid orange;
    box-shadow: 0 0 50px rgb(245, 205, 131);
  }
  25%{
    border:10px solid green;
    box-shadow: 0 0 50px rgb(89, 245, 141);
  }
  50%{
    border:10px solid red;
    box-shadow: 0 0 50px rgb(245, 115, 83);
  }
  75%{
    border:10px solid blue;
    box-shadow: 0 0 50px rgb(64, 91, 247);
  }
  100%{
    border:10px solid orange;
    box-shadow: 0 0 50px rgb(245, 205, 131);
  }
}