#work{
  height: calc(var(--mobileHeight)*90/100);  
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  header{
    margin-top: 3rem;
    h1{
      font-size: 3rem;
    }
  }
  .arrow{
    bottom: 45%;
    font-size: 3rem;
    position: absolute;
    color: rgb(209, 45, 127);
    text-shadow: 0 0 1rem rgb(255, 0, 128);
    cursor: pointer;
    user-select: none;
  }

  .leftArrow{
    left: 1.5%;
  }
  .rightArrow{
    right: 1.5%;
  }
}
.carousel{
  width: 100%;
  height: calc(var(--mobileHeight)*70/100);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .container{
    width: 75%;
    height: 100%;
    border-radius: 2%;
    border: 3px solid rgb(15, 65, 228);
    box-shadow: 0 0 0.5rem 0.5rem blue;
    display: flex;
    overflow: hidden;
    .card-container{  
      width: 700%;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-shrink: 0;
      transition: all 0.5s linear;
      .card{
        width: 20%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 1fr;
        figure{
          grid-area: 1/1/2/2;
          display: flex;
          align-items: center;
          img{
            height: 100%;
            width: 100%;
          }
        }
        .des{
          grid-area: 2/1/3/2;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          h1{
            display: flex;
            align-self: center;
            justify-content: center;
            font-family: neon;
            text-align: center;
            text-shadow: 0 0 1rem yellow;
            color: rgb(245, 248, 80);
            font-size: clamp(1.5rem,calc(0.8rem + 3vw), 5rem);
          }
          span{
            display: block;
            width: 90%;
            margin: 0.2rem auto;
            font-family: var(--paraFont);
            font-size: 1rem;
          }
          p{
            font-family: var(--paraFont);
            font-size: clamp(1rem, calc(0.2rem + 2vw), 1.5rem);
            text-align: center;
            max-height: 210px;
            overflow-y: scroll;
            scrollbar-width: none;
          }
          .buttons{
            display: flex;
            justify-content: space-around;
            align-items : center;
            a{
              padding: 1rem;
              font-family: neon;
              font-size: clamp(1rem, calc(0.2rem + 3vw), 2rem);
              color: #f39303;
              position: relative;
              overflow: hidden;
              &::after{
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 15%;
                height:20%;
                border-bottom: 2px solid rgb(247, 183, 64);
                border-right: 2px solid rgb(247, 183, 64);
                
              }
              &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 15%;
                height:20%;
                border-top: 2px solid rgb(247, 183, 64);
                border-left: 2px solid rgb(247, 183, 64);
              }
              &:hover{
                animation: buttonGlow 0.1s 0.5s linear forwards;
                &::after{
                  animation: buttonStretching 0.5s linear forwards;
                }
                &::before{  
                  animation: buttonStretching 0.5s linear forwards;
                }
              }
            }
          }
        }
      }
    }
  }
}
@keyframes buttonGlow {
  100%{
    color: black;
    background-color: #faa01a;
    box-shadow:  0 0 50px #faa01a;
  }
}
@keyframes buttonStretching {
  0%{
    width: 15%;
    height: 20%;
  }
  100%{
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width:550px){
  #work{
    position: relative;
    header{
      margin-top: 0.25rem;
      h1{
        font-size: 3rem;
      }
    }
  }
}
@media screen and (min-width: 770px) {
  #work{
    header{
      h1{
        font-size: 5rem;
      }
    }
    .arrow{
      font-size: 7rem
    }
  }
  .carousel{ 
    height: calc(var(--mobileHeight)*70/100);
    .container{
      .card-container{
        .card{
          display: grid;
          grid-template-columns: 4.5fr 5.5fr;
          grid-template-rows: 1fr;
          img{
            grid-area: 1/1/2/2;
          }
          .des{
            justify-content: space-around;
            grid-area: 1/2/2/3;
            h1{

            }
            p{
              height: auto;
              overflow-y: hidden;
            }
          }
        }
      }
    }
  }
}