

nav{
  width: 100vw;
  height: calc(var(--mobileHeight)*10/100);
  background-color: #0a0a0a;
  display: flex;
  align-items: center;
  animation: turnOnWhite 0.1s 0.5s forwards;  
  top:0;
  position:fixed;
  z-index: 100;
  
  .nav-content{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    ul{
      display: flex;
      width: 55%;
      justify-content: space-evenly;
      align-items: center;
      li{
        list-style: none;
        a{
          color: rgb(255, 251, 23);
          opacity: 0.2;
        }
        @for $i from 4 through 1 {
          &:nth-child(#{$i}){
            a{
              animation: turnOnYellow 0.1s 0.1s*(5-$i) forwards;
            }
          }
        }
      }
     
    }
  }
}
@keyframes turnOnWhite {
  99%{
    box-shadow: none;
  }
  100%{ 
    box-shadow: 0.2rem 0.2rem 0.4rem 0.1rem rgb(255, 255, 255);
  }
}
@keyframes turnOnYellow {
  99%{
    opacity: 0.2;
  }
  100%{
    opacity: 1;
  }
}

.hamburger{
  display: flex;
  flex-direction: column;
  transition: all 0.75s ease-in;
  .line{
    height: 0.3rem;
    width: 3rem;
    background-color: rgb(255, 251, 23);
    margin: 10% 0;
    box-shadow: 0 0 1rem 0.1rem rgb(238, 255, 2);
    transition: all 0.2s ease-in;
  }
  display: none;
}

#home{
  font-family: 'Amatic SC', cursive;
  font-size: calc(1.5rem + 4vh);
  opacity: 0.2;
  color: rgb(26, 60, 250);
  animation: flickering 3.5s 0.6s ease-in forwards;
}
@keyframes flickering {
  0% {
    opacity: 0.2;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.1;
  }
  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
    text-shadow: 0 0 1rem rgb(0, 0, 0);
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.5;
  }
  45% {
    opacity: 0.3;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.1;
  }
  95%{
    opacity: 0.1;
    text-shadow: none;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 1rem rgb(54, 141, 255);
  }
}

@media screen and (max-width: 770px) {
  nav{
    height: calc(var(--mobileHeight)*15/100);
    .nav-content{
      ul{
        top: calc(var(--mobileHeight)*15/100);
        right:0;
        width: 70%;
        height: calc(var(--mobileHeight)*85/100);
        flex-direction: column;
        background-color: #1a1a1a;
        font-size: calc(1rem + 2vw);
        position: fixed;
        display: none; 
      }
    }
  }
  .hamburger{
    display: block;
    cursor: pointer;
    animation: flickering 0.5s linear forwards;
  }
  
}  

nav{ /* class for active hamburger mmenu */
  .mobile-active{
    ul{
      display: flex;
    }
    .hamburger{
      .num1{
        transform: rotate(65deg) translateY(100%);
      }
      .num2{
        display: none;
      }
      .num3{
        transform: rotate(-65deg) translateY(-100%);
      }
    }
  }
}
