nav {
  width: 100%;
  height: 10vh;
  background-color: #0a0a0a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: turnOnWhite 0.1s 0.5s forwards;
          animation: turnOnWhite 0.1s 0.5s forwards;
}

nav a {
  text-decoration: none;
}

nav .nav-content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

nav .nav-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-content ul li {
  list-style: none;
}

nav .nav-content ul li a {
  color: #fffb17;
  opacity: 0.2;
}

nav .nav-content ul li:nth-child(4) a {
  -webkit-animation: turnOnYellow 0.1s 0.1s forwards;
          animation: turnOnYellow 0.1s 0.1s forwards;
}

nav .nav-content ul li:nth-child(3) a {
  -webkit-animation: turnOnYellow 0.1s 0.2s forwards;
          animation: turnOnYellow 0.1s 0.2s forwards;
}

nav .nav-content ul li:nth-child(2) a {
  -webkit-animation: turnOnYellow 0.1s 0.3s forwards;
          animation: turnOnYellow 0.1s 0.3s forwards;
}

nav .nav-content ul li:nth-child(1) a {
  -webkit-animation: turnOnYellow 0.1s 0.4s forwards;
          animation: turnOnYellow 0.1s 0.4s forwards;
}

@-webkit-keyframes turnOnWhite {
  99% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    -webkit-box-shadow: 0.2rem 0.2rem 0.4rem 0.1rem white;
            box-shadow: 0.2rem 0.2rem 0.4rem 0.1rem white;
  }
}

@keyframes turnOnWhite {
  99% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    -webkit-box-shadow: 0.2rem 0.2rem 0.4rem 0.1rem white;
            box-shadow: 0.2rem 0.2rem 0.4rem 0.1rem white;
  }
}

@-webkit-keyframes turnOnYellow {
  99% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes turnOnYellow {
  99% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.75s ease-in;
  transition: all 0.75s ease-in;
  display: none;
}

.hamburger .line {
  height: 0.3rem;
  width: 3rem;
  background-color: #fffb17;
  margin: 10% 0;
  -webkit-box-shadow: 0 0 1rem 0.1rem #eeff02;
          box-shadow: 0 0 1rem 0.1rem #eeff02;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#home {
  font-family: 'Amatic SC', cursive;
  font-size: 3.5rem;
  opacity: 0.2;
  color: #1a3cfa;
  -webkit-animation: flickering 5s 0.6s ease-in forwards;
          animation: flickering 5s 0.6s ease-in forwards;
}

@-webkit-keyframes flickering {
  0% {
    opacity: 0.2;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.1;
  }
  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.5;
  }
  45% {
    opacity: 0.3;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.7;
    text-shadow: none;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 1rem #053fff;
  }
}

@keyframes flickering {
  0% {
    opacity: 0.2;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.1;
  }
  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.5;
  }
  45% {
    opacity: 0.3;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.7;
    text-shadow: none;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 1rem #053fff;
  }
}

@media screen and (max-width: 770px) {
  nav {
    position: relative;
  }
  nav .nav-content ul {
    top: 10vh;
    right: 0;
    width: 70%;
    height: 90vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #1a1a1a;
    font-size: calc(1rem + 2vw);
    position: absolute;
    display: none;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    -webkit-animation: flickering 1.5s linear forwards;
            animation: flickering 1.5s linear forwards;
  }
}

nav {
  /* class for active hamburger mmenu */
}

nav .mobile-active ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .mobile-active .hamburger .num1 {
  -webkit-transform: rotate(65deg) translateY(100%);
          transform: rotate(65deg) translateY(100%);
}

nav .mobile-active .hamburger .num2 {
  display: none;
}

nav .mobile-active .hamburger .num3 {
  -webkit-transform: rotate(-65deg) translateY(-100%);
          transform: rotate(-65deg) translateY(-100%);
}
/*# sourceMappingURL=Navbar.css.map */