#skill{
  margin-top: 5rem;
  .display{
    display: flex;
    margin: auto;
    width: 80%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    img{
      opacity: 0.2;
      display: flex;
      height: calc(var(--mobileHeight)*15/100);
      width: auto;
    }
  }
}
.turnOnLogo{
  img{
    @for $i from 7 through 1 {
      &:nth-child(#{$i}){
        animation: turnOnYellow 0.1s 0.1s*($i) forwards;
      }
    }
  }
 
}


@media screen and (max-width: 770px) {
  #skill{
    .display{
      width: 90%;
      img{
        height: calc(var(--mobileHeight)*8/100);
      }
    }
  }
}