@font-face {
  font-family: 'Azonix' ;
  src: url('./components/Azonix.otf');
}
@font-face {
  font-family: 'neon';
  src: url('./components/Neoneon.otf');
}
:root{
  --mobileHeight:0;
}
#root{
  min-height: 100vh;
  background-color: #000000;
  color: white;
  font-family: 'Azonix';
  z-index: 1;
  overflow-x: hidden;
  a{
    text-decoration: none;
  }
}
html{
  scrollbar-width: thin;
  scrollbar-color: #c7c6c6 black;
  &::-webkit-scrollbar {
    width: 0.2rem;
    border-radius: 50%;
  }
  &::-webkit-scrollbar-track {
    background-color: rgb(10, 10, 10);
  }
  &::-webkit-scrollbar-thumb {
    background: #c7c6c6;
    border-radius: 25px;
  }
  scroll-behavior: smooth;
}
:root{
  --paraFont: 'Courier New', Courier, monospace;
}
.neon{
  font-family: 'neon';
 
}
section{
  padding-top:  calc(var(--mobileHeight)*10/100);
}

@keyframes turnOnHeader {
  0% {
    opacity: 0.2;
  }
  29%{
    opacity: 0.2;
  }
  30% {
    opacity: 0.8;
  }
  31% {
    opacity: 0.1;
  }
  59%{
    opacity: 0.1;
  }
  60% {
    opacity: 1;
  }
  94%{
    opacity: 1;
    text-shadow: 0 0 1rem rgb(75, 45, 60);
  }
  95%{
    opacity: 0.1;
    text-shadow: none;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 1rem rgb(255, 21, 138);
  }
}

.sectionHeader{
  margin-top: 10rem;
  text-align: center;
  h1{
    font-size: clamp(3.5rem,calc(2rem + 3vw), 6.5rem);
    color: rgb(209, 45, 127);
    opacity: 0.2;
  }
  .turnOnHeader{
    animation: turnOnHeader 1s 0s linear forwards;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) { /* disable landscape mode */
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0; 
  }
}